<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>CONSTRAINBOW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <div id="header-div">
            <h2><span class="t0">C</span><span class="t1">O</span><span class="t2">N</span><span class="t3">S</span><span class="t4">T</span><span class="t5">R</span><span class="t6">A</span><span class="t7">I</span><span class="t8">N</span><span class="t9">B</span><span class="t10">O</span><span class="t11">W</span>
            </h2>
            <h2 id="date">{{ date }}</h2>
        </div>
    </div>
    <div class="centered-div" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px;">
        <div class="game-mode-container">
            <div class="game-mode-letter-container" onclick="window.location.href='/speed';">
                <div class="game-mode-letter m1">S</div>
                <div class="game-mode-letter">P</div>
                <div class="game-mode-letter m2">E</div>
                <div class="game-mode-letter m2">E</div>
                <div class="game-mode-letter">D</div>
                <div class="game-mode-letter m3">→</div>
            </div>
            <p>Solve it as fast as possible.</p>
        </div>
        <div class="game-mode-container">
            <div class="game-mode-letter-container" onclick="window.location.href='/score';">
                <div class="game-mode-letter m1">S</div>
                <div class="game-mode-letter">C</div>
                <div class="game-mode-letter">O</div>
                <div class="game-mode-letter">R</div>
                <div class="game-mode-letter m2">E</div>
                <div class="game-mode-letter m3">→</div>
            </div>
            <p>Find the highest scoring solution.</p>
        </div>
    </div>
</body>
</html>
