<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>CONSTRAINBOW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <input type="hidden" id="game-id" value="{{ game_id }}"" />
    <div class="overlay" id="how-to-play-overlay">
        <div class="popup">
            <button id="close-button">&times;</button>
            <h2>How to play CONSTRAINBOW</h2>
            <p>Your goal is to create four five-letter words that meet these rules:</p>
            <ol>
                <li>Each tile's border color represents a constraint:</li>
                <ul>
                    <li><strong>Colored tiles (non-black)</strong> must all contain the <i>same letter</i>.</li>
                    <li><strong>Black tiles</strong> can be any letter that <i>isn’t assigned</i> to a colored tile.</li>
                </ul>
                <li>Each letter can belong to only one color group (including black).</li>
                <li>Black tiles can repeat letters, but colored tiles cannot share letters with black tiles or other colors.</li>
            </ol>
            <!-- <p>All letters of the same color must be the same, and no two colors can be the same letter.</p>
            <p>All other letters (the black ones) can be anything.</p>
            <p>Don't get mad at the list of words; it's Wordle's.</p> -->
            <!-- <p>BETA TESTERS: I still do not understand the relationship between the number of possible solutions and how difficult the game is. Below is a list of links to puzzles with ranging numbers of solutions. Please play them and share your thoughts with me.</p>
            <p>
                <a href="/?game-id=10.50999">50999 solutions</a>, 
                <a href="/?game-id=10.77885">77885 solutions</a>, 
                <a href="/?game-id=10.243946">243946 solutions</a>, 
                <a href="/?game-id=10.411314">411314 solutions</a>, 
                <a href="/?game-id=11.1840">1840 solutions</a>, 
                <a href="/?game-id=11.2590">2590 solutions</a>, 
                <a href="/?game-id=11.25500">25500 solutions</a>, 
                <a href="/?game-id=11.40360">40360 solutions</a>, 
                <a href="/?game-id=12.30">30 solutions</a>, 
                <a href="/?game-id=12.3841">3841 solutions</a>, 
                <a href="/?game-id=12.5594">5594 solutions</a>, 
                <a href="/?game-id=12.19040">19040 solutions</a>
            </p> -->
        </div>
    </div>
    <!-- Overlay for win message. Not sure if I'll use it -->
    <div class="overlay" id="win-overlay">
        <div class="popup">
            <button id="close-button">&times;</button>
            <h2>Way to go! 🎉</h2>
            <div id="results-div">
                <p>CONSTRAINBOW 1/20</p>
                <p>1:32</p>
                <p>🟥⬛️⬛️⬛️🟧</p>
                <p>🟧🟦🟨🟧⬛️</p>
                <p>🟨⬛️🟥⬛️🟥</p>
                <p>🟦⬛️⬛️⬛️⬛️</p>
            </div>
            <br />
            <button>Copy results 🎉</button>
        </div>
    </div>
    <div id="container">
        <h1>CONSTRAINBOW</h1>
        <div>
            <span id="start-message">Click any tile to start. Click the timer to pause.</span>
            <button id="timer" class="link-styled-button">00:00</button>
            <span id="copy-results-span"> | <button class="link-styled-button" id="copy-results-button">copy results 🎉</button></span>
        </div>
        <p id="loading-text">Loading game...</p>
        <div id="board"></div>
        <button class="key" id="reset-button" data-key=2000>clear all</button>
        <div id="keyboard-container">
            <div class="keyboard-row">
                <button class="key" id="key-Q" data-key=81>Q</button>
                <button class="key" id="key-W" data-key=87>W</button>
                <button class="key" id="key-E" data-key=69>E</button>
                <button class="key" id="key-R" data-key=82>R</button>
                <button class="key" id="key-T" data-key=84>T</button>
                <button class="key" id="key-Y" data-key=89>Y</button>
                <button class="key" id="key-U" data-key=85>U</button>
                <button class="key" id="key-I" data-key=73>I</button>
                <button class="key" id="key-O" data-key=79>O</button>
                <button class="key" id="key-P" data-key=80>P</button>
              <!-- Add remaining keys here -->
            </div>
            <div class="keyboard-row">
              <!-- Second row keys -->
                <button class="key" id="key-A" data-key=65>A</button>
                <button class="key" id="key-S" data-key=83>S</button>
                <button class="key" id="key-D" data-key=68>D</button>
                <button class="key" id="key-F" data-key=70>F</button>
                <button class="key" id="key-G" data-key=71>G</button>
                <button class="key" id="key-H" data-key=72>H</button>
                <button class="key" id="key-J" data-key=74>J</button>
                <button class="key" id="key-K" data-key=75>K</button>
                <button class="key" id="key-L" data-key=76>L</button>
            </div>
            <div class="keyboard-row" id="bottom-keyboard-row">
                <button class="key" id="refresh-key" data-key=2000>&#x21bb;</button>
                <button class="key" id="key-Z" data-key=90>Z</button>
                <button class="key" id="key-X" data-key=88>X</button>
                <button class="key" id="key-C" data-key=67>C</button>
                <button class="key" id="key-V" data-key=86>V</button>
                <button class="key" id="key-B" data-key=66>B</button>
                <button class="key" id="key-N" data-key=78>N</button>
                <button class="key" id="key-M" data-key=77>M</button>
                <button class="key" id="delete-key" data-key=8>⌫</button>
            </div>
        </div>
        <div id="info-div">
            <p class="description">This puzzle has <span id="num-possible-solutions"></span> unique solutions.</p>
            <p class="description">
                <!-- <span id="encouraging-message">Good luck finding one.</span>  -->
                <button class="link-styled-button" id="how-to-play-button">how to play</button>
                <button class="link-styled-button" id="report-missing-word-button">report missing word</button>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
