<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>CONSTRAINBOW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <input type="hidden" id="game-id" value="{{ game_id }}" />
    <div class="overlay" id="how-to-play-overlay">
        <div class="popup">
            <button id="close-button">&times;</button>
            <h2>How to play <span class="t0">C</span><span class="t1">O</span><span class="t2">N</span><span class="t3">S</span><span class="t4">T</span><span class="t5">R</span><span class="t6">A</span><span class="t7">I</span><span class="t8">N</span><span class="t9">B</span><span class="t10">O</span><span class="t11">W</span></h2>
            <p>Your goal is to create four five-letter words, filling in the letters in any order that you wish. However, there are a couple of constraints:</p>
            <p>Two tiles of different color (including black) may NEVER share a letter.</p>
            <p>Colored tiles (excluding black) MUST all be the same letter.</p>
            <p>Black tiles can repeat letters.</p>
            <p>The keyboard will reflect what letters the currently selected tile can be.</p>
            <p>You can, and most certainly will, change your board as much as you'd like. To select a tile, tap, click, or navigate with the arrow keys.</p>
            <p>Good luck!</p>
        </div>
    </div>
    <div id="container">
        <div id="header-div">
            <h2><span class="t0">C</span><span class="t1">O</span><span class="t2">N</span><span class="t3">S</span><span class="t4">T</span><span class="t5">R</span><span class="t6">A</span><span class="t7">I</span><span class="t8">N</span><span class="t9">B</span><span class="t10">O</span><span class="t11">W</span>
            </h2>
            <h2 id="date">{{ date }}</h2>
            <p id="timer">00:00</p>
            <button id="how-to-play-button">?</button>
        </div>
        <p class="description">Today's puzzle has <span id="num-possible-solutions"></span> unique solutions</p>
        <p id="loading-text">LOADING GAME...</p>
        <div id="actions-container">
            <button id="play-pause-button">...</button>
            <button id="report-missing-word-button">REPORT MISSING WORD</button>
            <button id="copy-results-button">COPY RESULTS!</button>
        </div>
        <div id="board"></div>
        <div id="keyboard-container">
            <div class="keyboard-row">
                <button class="key" id="key-Q" data-key=81>Q</button>
                <button class="key" id="key-W" data-key=87>W</button>
                <button class="key" id="key-E" data-key=69>E</button>
                <button class="key" id="key-R" data-key=82>R</button>
                <button class="key" id="key-T" data-key=84>T</button>
                <button class="key" id="key-Y" data-key=89>Y</button>
                <button class="key" id="key-U" data-key=85>U</button>
                <button class="key" id="key-I" data-key=73>I</button>
                <button class="key" id="key-O" data-key=79>O</button>
                <button class="key" id="key-P" data-key=80>P</button>
            </div>
            <div class="keyboard-row" id="second-keyboard-row">
                <button class="key" id="key-A" data-key=65>A</button>
                <button class="key" id="key-S" data-key=83>S</button>
                <button class="key" id="key-D" data-key=68>D</button>
                <button class="key" id="key-F" data-key=70>F</button>
                <button class="key" id="key-G" data-key=71>G</button>
                <button class="key" id="key-H" data-key=72>H</button>
                <button class="key" id="key-J" data-key=74>J</button>
                <button class="key" id="key-K" data-key=75>K</button>
                <button class="key" id="key-L" data-key=76>L</button>
            </div>
            <div class="keyboard-row" id="bottom-keyboard-row">
                <button class="key" id="refresh-key" data-key=2000>&#x21bb;</button>
                <button class="key" id="key-Z" data-key=90>Z</button>
                <button class="key" id="key-X" data-key=88>X</button>
                <button class="key" id="key-C" data-key=67>C</button>
                <button class="key" id="key-V" data-key=86>V</button>
                <button class="key" id="key-B" data-key=66>B</button>
                <button class="key" id="key-N" data-key=78>N</button>
                <button class="key" id="key-M" data-key=77>M</button>
                <button class="key" id="delete-key" data-key=8>⌫</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
