:root {
    --letter-border-thickness: 2px;
    --example-letter-border-thickness: 2px;
    --c1: #c30000;
    --c2: #ff9019;
    --c3: #d4c600;
    --c4: #3a2fda;
}

html, body {
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: flex-start; /* Center vertically */
    justify-content: center; /* Center horizontally */
    /* background-color: #f0f0f0; */
    background-color:snow;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    padding-top: 10px;
}

button {
    all: unset; /* Resets most properties to their initial value */
    display: inline-block; /* Needed for proper button-like behavior */
    cursor: pointer; /* Ensures it looks clickable */
    touch-action: manipulation;
}

#container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center-align text */
    justify-content: space-between;
    height: 95dvh;
    max-height: 650px;
    /* gap: 20px; Add spacing between elements */
    /* padding-bottom: env(safe-area-inset-bottom); Dynamic safe area for the bottom */
    /* padding-top: env(safe-area-inset-top);  */
    /* max-height: 600px; */
    /* overflow-y: auto; */
    /* height: auto; */
}

h1 {
    margin: 0; /* Remove default margin */
    font-size: 2rem;
}
h2 {
    margin: 0; /* Remove default margin */
    font-size: 1.6rem;
    /* background-color: white;
    padding: 5px;
    border-radius: 5px; */
    /* background-image: linear-gradient(to right, var(--c1), var(--c2), var(--c3), var(--c4)); /* Define gradient */
    /*-webkit-background-clip: text; /* Clip the gradient to the text */
    /*-webkit-text-fill-color: transparent; Make the text itself transparent */
}
/* h2 span {
    margin: 0; 
    padding: 0;
} */
 .t0, .t4, .t8 {
    text-shadow: 1px 1px var(--c1);
 }
 .t1, .t5, .t9 {
    text-shadow: 1px 1px var(--c2);
 }
 .t2, .t6, .t10 {
    text-shadow: 1px 1px var(--c3);
 }
 .t3, .t7, .t11 {
    text-shadow: 1px 1px var(--c4);
 }

/* #rainbow {
    
} */

.description {
    margin: 0;
    font-size: 1rem;
    color: #000000; /* Optional: light gray text */
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 67px);
    grid-gap: 8px;
    overflow: visible;
    padding: 3px;
}
#example-board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 3px;
    overflow: visible;
    padding: 1px;
}
.letter {
    position: relative; /* Ensures child elements position relative to the tile */
    font-size: 40px;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--letter-border-thickness) solid black;
    box-shadow: 3px 3px black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding and border are included in the tile size */
    /* font-weight: bold; */
}

.letter-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Keeps letter centered */
    font-weight: bold;
}

.letter-points {
    position: absolute;
    bottom: 2px;
    right: 3px;
    font-size: 12px; /* Slightly smaller than the letter */
    color: black;
    /* font-weight: bold; */
    pointer-events: none; /* Ensures clicks still register on the .letter div */
    /* display: none; */
}

.example-letter {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--example-letter-border-thickness) solid black;
    /* text-shadow: 1px 1px gray; */
    /* box-shadow: 1px 1px black; */
    border-radius: 5px;
    /* background-color: #e6e6e6; */
    background-color: white;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding and border are included in the tile size */
    font-weight: bold;
    font-size: 1.7rem;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.5); */
}

/* The overlay background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Blur effect */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000; /* Ensure it's above other content */
    visibility: hidden;
    padding-top: 5px;
}
@media (min-width: 1024px) {
    html, body {
        align-items: center;
        padding-top: 0px;
    }
    .overlay {
        align-items: center;
        padding-top: 0px;
    }
    /* #container {
        gap: 30px;
    } */
    /* #board {
        grid-template-columns: repeat(5, 70px);
    } */

    /* .letter {
        width: 70px; 
        height: 70px;
    } */
}

.letter.selected {
    /* border: 5.5px solid black; */
    /* background-color: rgb(133, 132, 132);
    color: #e6e6e6; */
    /* box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5); */
    /* border: 4.5px solid #000; */
    /* background-color: #bcbcbc; */
    background-color: #dcdcdc;
    /* box-shadow: 0px 3px 3px 0 #dddddd; */
    /* background-color: white; */
}

.letter.c1 {
    /* border: 5px solid #D04848; */
    /* border: var(--letter-border-thickness) solid var(--c1); */
    border: var(--letter-border-thickness) solid var(--c1);
    /* text-shadow: 1px 1px var(--c1); */
    box-shadow: 3px 3px var(--c1);
    /* border: 5px solid #f34213; */
}

.example-letter.c1 {
    /* border: 5px solid #D04848; */
    /* border: var(--letter-border-thickness) solid var(--c1); */
    border: var(--example-letter-border-thickness) solid var(--c1);
    /* text-shadow: 1px 1px var(--c1); */
    /* box-shadow: 1px 1px var(--c1); */
    /* border: 5px solid #f34213; */
}

.letter.c2 {
    /* border: 5px solid #F3B95F; */
    /* border: var(--letter-border-thickness) solid var(--c2);*/
    border: var(--letter-border-thickness) solid var(--c2);
    /* text-shadow: 1px 1px var(--c2); */
    box-shadow: 3px 3px var(--c2);
    /* border: 5px solid #2dd881; */
}
.example-letter.c2 {
    /* border: 5px solid #F3B95F; */
    /* border: var(--letter-border-thickness) solid var(--c2);*/
    border: var(--example-letter-border-thickness) solid var(--c2);
    /* text-shadow: 1px 1px var(--c2); */
    /* box-shadow: 1px 1px var(--c2); */
    /* border: 5px solid #2dd881; */
}
.letter.c3 {
    /* border: 5px solid #FDE767; */
    /* border: var(--letter-border-thickness) solid var(--c3); */
    border: var(--letter-border-thickness) solid var(--c3);
    /* text-shadow: 1px 1px var(--c3); */
    box-shadow: 3px 3px var(--c3);
    /* border: 5px solid #1d4e89; */
}
.example-letter.c3 {
    /* border: 5px solid #FDE767; */
    /* border: var(--letter-border-thickness) solid var(--c3); */
    border: var(--example-letter-border-thickness) solid var(--c3);
    /* text-shadow: 1px 1px var(--c3); */
    /* box-shadow: 1px 1px var(--c3); */
    /* border: 5px solid #1d4e89; */
}
.letter.c4 {
    /* border: 5px solid #6895D2; */
    /* border: var(--letter-border-thickness) solid var(--c4); */
    border: var(--letter-border-thickness) solid var(--c4);
    /* text-shadow: 1px 1px var(--c4); */
    box-shadow: 3px 3px var(--c4);
    /* border: 5px solid #bdbf09; */
}
.example-letter.c4 {
    /* border: 5px solid #6895D2; */
    /* border: var(--letter-border-thickness) solid var(--c4); */
    border: var(--example-letter-border-thickness) solid var(--c4);
    /* text-shadow: 1px 1px var(--c4); */
    /* box-shadow: 1px 1px var(--c4); */
    /* border: 5px solid #bdbf09; */
}
.letter.conflict {
    background-color: rgb(255, 172, 172);
    /* color: rgb(255, 76, 76); */
}
.letter.incorrect {
    /* background-color: rgb(255, 172, 172); */
    color: rgb(255, 76, 76);
}
.letter.celebrate {
    border: var(--letter-border-thickness) solid green;
    box-shadow: 3px 3px green;
    background-color: #525252;
    color: white;
}
.letter.paused {
    /* border: 5px solid #b4b4b4; */
    border: 2px solid rgb(44, 44, 44);
    background-color: snow;
    box-shadow: none;
}

/* .text {
    font-size: 40px;
} */

/* The popup window */
.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    max-width: 90%;
    text-align: left;
    position: relative;

    max-height: 80vh; /* Limit height to 80% of viewport */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

/* The close button */
#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* How-to-play button styling (optional) */
.link-styled-button {
    font-size: 1rem; /* Match the font size of .description */
    color: #666; /* Use the same text color as .description */
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer;
    /* margin-top: 20px; */
    text-decoration: underline; /* Optional: Adds an underline, since buttons usually stand out with something like this */
}

/* #timer {
    color: black;
    display: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
} */

.end-timer {
    display: none;
}

#start-message {
    color: black;
    /* font-weight: bold; */
    margin: 0;
    padding: 0;
}

#keyboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); */
    gap: 5px; /* Add spacing between rows */
    align-items: center; /* Center align the keyboard rows */
    /* background-color:#e2e2e2; */
    /* border-radius: 20px; */
    padding: 0px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px; /* Add spacing between keys */
}

.key {
    position: relative;
    margin: 0; /* Remove margins */
    /* padding-top: 12px;
    padding-bottom: 12px; */
    height: 50px; /* Ensure consistent height */
    font-size: 18px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    box-shadow: 1px 1px black;
    /* box-shadow: 0px 3px 3px 0 #dddddd; */
}

.key-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Keeps letter perfectly centered */
    /* font-weight: bold; */
}

.key-points {
    position: absolute;
    bottom: 2px;
    right: 3px;
    font-size: 10px;
    color: black;
    display: none;
    /* font-weight: bold; */
    /* display: none; */
}
.key-letter,
.key-points {
    pointer-events: none;
}

#second-keyboard-row .key, #bottom-keyboard-row .key {
    width: 34px;
}

.unavailable {
    background-color: #b4b4b4;
    box-shadow: none;
}
.paused-key {
    background-color: snow;
    box-shadow: none;
}

#reset-button {
    margin: 0; /* Remove margins */
    padding: 6px;
    /* padding-bottom: 4px; */
    font-size: 18px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    /* width: 70px; */
    text-align: center;
    display: none;
}

/* @media (min-width: 2732px) {
    #keyboard-container {
        display: none; 
    }
    #reset-button {
        display: block; 
    }
} */

#info-div {
    padding: 0;
}

#results-div p {
    margin: -5px;
    padding: 0px;
}

#report-missing-word-button {
    display: none;
    /* color: rgb(255, 76, 76); */
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px red;
    background-color: white;
}
#got-it-button {
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px green;
    background-color: white;
}

.report-missing-word-button-paused {
    display: none;
}

#play-pause-button {
    border: 1px solid rgb(44, 44, 44);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px purple;
    display: none;
}

#copy-results-button {
    display: none;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px green;
}

#refresh-key, #delete-key  {
    color: rgb(255, 76, 76);
}

#refresh-key {
    font-size: 8px;
    font-weight: bolder;
}

@media screen and (max-height: 645px) {
    /* h1 {
        font-size: 1.3rem;
    }
    #board {
        grid-template-columns: repeat(5, 60px);
        grid-gap: 4px;
    }
    .letter {
        width: 60px;
        height: 60px;
    } */
    #container {
        gap: 10px;
    }
    .key {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    /* .description {
        margin-bottom: 5px;
    } */
    
}

#header-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

/* h2 {
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
} */

#timer, #score {
    margin: 0px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    display: none;
    box-shadow: 1px 1px skyblue;
}

#how-to-play-button {
    margin: 0px;
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px purple;
}

#actions-container {
    display: flex;
    gap: 10px;
    /* padding-bottom: 15px; */
}

#date {
    text-shadow: 1px 1px skyblue;
}